.confram-btn{
   align-items: center;
   background: goldenrod;
   width: 400px;
   height: 30px;
   border: 1px solid gray;
   padding: 5px;
   margin: 5px;
   /* margin-left: 40px; */
   cursor: pointer;

}